<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/89fc38ec-142f-4159-9309-2c5963f672ed/resourcegroups/resource-group/providers/Microsoft.ContainerRegistry/registries/EcoFarmInfrastructure20231211114705</ResourceId>
    <ResourceName>EcoFarmInfrastructure20231211114705</ResourceName>
    <ResourceGroup>resource-group</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>ecofarminfrastructure20231211114705.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>